h1 {
    background-color: #008000;
    text-align: center;
    color: #FFFFFF !important;
}

body {
    text-align: center;
    color: #00000;
    font-family:Verdana;
    font-size: 135%;
}

figure {
     position: absolute;
   right: 650px;
    bottom: 0px;
}
figure1
{
    position:absolute;
    left: 810px;
    top: 330px;
}


